<template>
  <div id="app" v-bind:style="{}">
      <b-container><b-row align-h="center" class="mt-5"><b-col cols="10"><b-card class= "p-3">

        <div class="form-group">
            <label for="exampleInputName"><h6><b>Name</b></h6></label>
                <input v-model= "doctorName" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <button type="submit" class="button" @click= "getDoctorsbyName">Search by name</button>

        <p></p><p></p>
        <hr>
        <p></p><p></p>

        <div class="form-group">
            <label for="exampleSpecialty"><h6><b>Specialty</b></h6></label>
            <select class="form-control" v-model= "doctorSpec" id="exampleInputPassword1">
                <option>Alergia e Imunologia</option>
                <option>Anestesiologia</option>
                <option>Cancerologia</option>
                <option>Cardiologia</option>
                <option>Cirurgia</option>
                <option>Clinica Medica</option>
                <option>Dermatologia</option>
                <option>Endocrinologia</option>
                <option>Gastroenterologia</option>
                <option>Genética Médica</option>
                <option>Geriatria</option>
                <option>Ginecologia e Obstetricia</option>
                <option>Hepatologia</option>
                <option>Infectologia</option>
                <option>Medicina do Trabalho</option>
                <option>Neurologia</option>
                <option>Nutrologia</option>
                <option>Ortopedia e Traumatologia</option>
                <option>Otorrinolaringologia</option>
                <option>Patologia</option>
                <option>Pediatria</option>
                <option>Pneumologia</option>
                <option>Psiquiatria</option>
                <option>Endocrinologia</option>
                <option>Gastroenterologia</option>
                <option>Radioterapia</option>
                <option>Reumatologia</option>
                <option>Urologia</option>
            </select>
        </div>

        <button type="submit" class="button" @click= "getDoctorsbySpec">Search by Specialty</button>

        <p></p><p></p>
        <hr>
        <p></p><p></p>

        <div class="form-group">
            <label for="exampleInputHealthPlan"><h6><b>Health Plan</b></h6></label>
            <select class="form-control" v-model= "doctorHealthPlan" id="exampleInputPassword1">
                <option>Public</option>
                <option>Unimed</option>
                <option>Ipe</option>
            </select>
        </div>

            <button type="submit" class="button" @click= "getDoctorsbyHP">Search by Health Plan</button>

        <p></p><p></p>
        <hr>
        <p></p><p></p>

         <label for="result" class= "title2"><h5><b>Result</b></h5></label>
            <div v-for="doctor in doctors" v-bind:key="doctor.id">
                <b-container><b-row align-h="center"><b-col cols="10"><b-card class="gray">
                        <b class="title">Name:</b> {{doctor.name}}<p></p>
                        <b class="title">Specialty:</b> {{doctor.specialty}}<p></p>
                        <b class="title">Health Plan:</b>  {{doctor.healthPlan}}
                </b-card></b-col></b-row></b-container>
            </div>
            <div v-if="doctors == null">
                <b-container class= "container" >
                    <label ><h6><b>Patient not found</b></h6></label> <p></p>
                </b-container>
            </div>
        <p></p>

    </b-card></b-col></b-row></b-container>
</div>

</template>

<script src="./docSearch.js"></script>

<style>
    body {
        background: #fed4ea
    }
    .nav-background{
        background: #07848a
        /* background: #FF9FC8; */
    }

    button {
        background: #EDEDED;
        color: #07848a
    }

    html, body, template {
    background: #EDEDED;
    height: 100%;
    }

    #app{
        background: #EDEDED
    }

    h6 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }

    hr {
        background: #07848a;
        display: block;
        margin-top: 3.0em;
        margin-bottom: 3.0em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 3px;
    }
    .title2{
        color: #8E8E8E
    }
</style>