<template>
  <div id="app" v-bind:style="{}">
      <b-container><b-row align-h="center" class="mt-5"><b-col cols="10"><b-card class= "p-3">

        <div class="form-group">
            <label for="exampleInputName"><h6><b>Name</b></h6></label>
                <input v-model= "doctorName" class="form-control" id="docName" aria-describedby="emailHelp">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
            <label for="exampleSpecialty"><h6><b>Specialty</b></h6></label>
            <select class="form-control" v-model= "doctorSpecialty" id="exampleInputPassword1">
                <option>Alergia e Imunologia</option>
                <option>Anestesiologia</option>
                <option>Cancerologia</option>
                <option>Cardiologia</option>
                <option>Cirurgia</option>
                <option>Clinica Medica</option>
                <option>Dermatologia</option>
                <option>Endocrinologia</option>
                <option>Gastroenterologia</option>
                <option>Genética Médica</option>
                <option>Geriatria</option>
                <option>Ginecologia e Obstetricia</option>
                <option>Hepatologia</option>
                <option>Infectologia</option>
                <option>Medicina do Trabalho</option>
                <option>Neurologia</option>
                <option>Nutrologia</option>
                <option>Ortopedia e Traumatologia</option>
                <option>Otorrinolaringologia</option>
                <option>Patologia</option>
                <option>Pediatria</option>
                <option>Pneumologia</option>
                <option>Psiquiatria</option>
                <option>Endocrinologia</option>
                <option>Gastroenterologia</option>
                <option>Radioterapia</option>
                <option>Reumatologia</option>
                <option>Urologia</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleInputHealthPlan"><h6><b>Health Plan</b></h6></label>
            <select class="form-control" v-model= "doctorHealthPlan" id="exampleInputPassword1">
                <option>Public</option>
                <option>Unimed</option>
                <option>Ipe</option>
            </select>
        </div>

            <button type="submit" class="button"  @click= "addDoctor">Submit</button>

    </b-card></b-col></b-row></b-container>
</div>

</template>

<script src="./cadMed.js"></script>

<style>
    body {
        background: #EDEDED
    }
    .nav-background{
        background: #07848a
        /* background: #FF9FC8; */
    }

    button {
        background: #EDEDED;
        color: #07848a
    }

    html, body, template {
    background: #EDEDED;
    height: 100%;
    }

    #app{
        background: #EDEDED
    }

    h6 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }
</style>