<template>
  <div id="app" v-bind:style="{}">
      <b-container><b-row align-h="center" class="mt-5"><b-col cols="10"><b-card class= "p-3">

        <div class="form-group">
            <label for="exampleInputName"><h6><b>Name</b></h6></label>
                <input v-model= "patientName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputHealthPlan"><h6><b>Health Plan</b></h6></label>
            <select class="form-control"  v-model= "patientHealthPlan" id="exampleInputPassword1">
                <option >Public</option>
                <option>Unimed</option>
                <option>Ipe</option>
            </select>
        </div>

            <button pill type="submit" class="button"  @click= "addPatient">Submit</button>

    </b-card></b-col></b-row></b-container>
</div>

</template>

<script src="./patReg.js"></script>

<style>
    body {
        background: #EDEDED
    }
    .nav-background{
        background: #07848a
        /* background: #FF9FC8; */
    }

    b-button {
        background: #EDEDED;
    }

    html, body, template {
    background: #EDEDED;
    height: 100%;
    }

    #app{
        background: #EDEDED
    }

    h6 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }
</style>