<template>
    <div>
        <b-container><b-row align-h="center" class="mt-5"><b-col cols="10"><b-card class= "p-3">
        <label for="searchConsult"><h6><b>About </b></h6></label>
                <div>
                    <b-container class= "container" >
                    <textarea class="form-control" id="choosePatient" rows="3"></textarea>
                    </b-container>
                </div>

    </b-card></b-col></b-row></b-container>
    </div>

</template>

<script src="./menuPage.js"></script>

<style>
    body {
        background: #EDEDED
    }
    .nav-background{
        background: #07848a
        /* background: #FF9FC8; */
    }

    .color {
        background: #EDEDED
    }

    button {
        background: #EDEDED
    }

    html, body, template {
    background: #EDEDED;
    height: 100%;
    }

    #app{
        background: #EDEDED
    }

    h6 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }
</style>