<template>
  <div id="app" v-bind:style="{}">
  <b-navbar toggleable="lg" type="dark" class="nav-background">
    <b-navbar-brand href="Menu" class="text-color "><h5>Menu</h5></b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-navbar-nav>
        <b-nav-item active-class="active" class=" teste nav-link" v-for="routes in links"
                      :key="routes.id" :to="routes.path" >
                        <h5>{{ routes.name }}</h5>
        </b-nav-item>
      </b-navbar-nav>
  </b-navbar>


<!-- <div id="app" v-bind:style="{ backgroundColor: color}">
<h1>Try a color</h1>
  <div class="color">
<input type="text" v-bind:style="{ color: color}" v-model="color" maxlength="7" placeholder="#000000"/>
  <input type="color" v-model="color"/>
    </div>
</div> -->


  <div>
    <router-view></router-view>
  </div>
</div>


</template>
  
<script src="./menu.js"></script>
<style>
  body {
    background: #EDEDED
  }
  .nav-background{
    background: #07848a
    /* background: #FF9FC8; */
  }

  html, body, template {
  background: #EDEDED;
  height: 100%;
  }

  h5 {
    font-family: 'Proza Libre', sans-serif;
    color: #EDEDED;
    font-weight: 300;
  }
/* #app {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
  input {
    /* padding: 1rem 1rem;
    font-size: 2rem;
    border: 0;
    border-radius: 3px; */
    background: #757575;
  }


</style>