<template>
  <div id="app" v-bind:style="{}">
      <b-row align-h="center" class="mt-5"><b-col cols="10"><b-card class= "p-3">

        <div class="form-group">
            <label for="exampleInputName"><h6><b>Name</b></h6></label>
            <input v-model= "patientName" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <button type="submit" class="button" @click= "getPatientsbyName">Search by name</button>

        <p></p><p></p>
        <hr>
        <p></p><p></p>

        <div class="form-group">
            <label for="exampleInputHealthPlan"><h6><b>Health Plan</b></h6></label>
            <select v-model= "patientHealthPlan" class="form-control" id="exampleInputPassword1">
                <option>Public</option>
                <option>Unimed</option>
                <option>Ipe</option>
            </select>
        </div>

            <button type="dark" class="button" @click= "getPatientsbyHP" >Search by Health Plan</button>
        <p></p><p></p>
        <hr>
        <p></p><p></p>


        <label for="result"><h5><b class = "title2" >Result</b></h5></label>
            <div v-for="patient in patients" v-bind:key="patient.id">
                <b-container><b-row align-h="center"><b-col cols="10"><b-card class="gray">
                        <b class="title">Name:</b> {{patient.name}}<p></p>
                        <b class="title">Health Plan:</b>  {{patient.healthPlan}}
                </b-card></b-col></b-row></b-container>
            </div>
            <div v-if="patients == null">
                <b-container class= "container" >
                    <label ><h6><b>Patient not found</b></h6></label> <p></p>
                </b-container>
            </div>
        <p></p>
    </b-card></b-col></b-row>

</div>

</template>

<script src="./patSearch.js"></script>

<style>
    body {
        background: #FCEDED
    }
    .nav-background{
        background: #07848a
        /* background: #FF9FC8; */
    }
    /* .container{
        background: #EDEDED
    } */

    .title{
        color: #07848a;
    }

    .gray{
        background: #EDEDED;
    }


    .title2{
        color: #8E8E8E
    }

    button {
        background: #FCEDED;
        color: #07848a
    }

    html, body, template {
    background: #FCEDED;
    height: 100%;
    }

    #app{
        background: #FCEDED
    }

    h6 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }

    h5 {
        font-family: 'Proza Libre', sans-serif;
        color: #FCEDED;
        font-weight: 300;
    }

    h4 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }

    hr {
        background: #07848a;
        display: block;
        margin-top: 3.0em;
        margin-bottom: 3.0em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 3px;
    }
</style>