<template>
  <div>
      <b-container><b-row align-h="center" class="mt-5"><b-col cols="10"><b-card class= "p-3">
        <label for="searchConsult"><h6><b>Consults: </b></h6></label>
                <div v-for="consult in consults" v-bind:key="consult.idConsult">
                        <b-container><b-row align-h="center"><b-col cols="10"><b-card class="gray">
                            <b class="title">Patient Name:</b> {{consult.namePat}}<p></p>
                            <b class="title">Doctor Name:</b>  {{consult.nameDoc}}<p></p>
                            <b class="title">Date:</b>  {{consult.dateConsult}}<p></p>
                            <b class="title">Hour:</b>  {{consult.hourConsult}}<p></p>
                            <div class="btn-group">
                                <button class="button1">Accept</button>
                                <button class="button2">Reject</button>
                            </div>
                        </b-card></b-col></b-row></b-container>
                </div><p></p><p></p>


    </b-card></b-col></b-row></b-container>
</div>

</template>

<script src="./searchConsult.js">
</script>

<style>
    .btn-group button {
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
    }
    .button1 {
        background-color: #97f6d0; /* Green background */
    }

    .button2 {
        background-color: #f69797; /* Green background */
    }

    body {
        background: #EDEDED
    }
    .nav-background{
        background: #07848a
        /* background: #FF9FC8; */
    }

    button {
        background: #EDEDED;
        color: #07848a
    }

    html, body, template {
    background: #EDEDED;
    height: 100%;
    }

    #app{
        background: #EDEDED
    }

    h6 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }
</style>