<template>
  <div id="app">
    <Menu />
  </div>
</template>

<script>
import Menu from './components/Menu/menu.vue'

export default {
  name: 'app',
  components: {
    Menu
  }
}
</script>

<style>

</style>