<template>
  <div>
        <b-container><b-row align-h="center" class="mt-5"><b-col cols="10"><b-card class= "p-3">
            <label for="choosePatient"><h6><b>Choose a Patient: </b></h6></label>
                <div v-for="patient in patients" v-bind:key="'patient'+patient.id">
                        <b-container><b-row align-h="center"><b-col cols="10"><b-card class="gray">
                            <b class="title">Name:</b> {{patient.name}}<p></p>
                            <b class="title">Health Plan:</b>  {{patient.healthPlan}}
                            <!-- <v-btn class="button1" right="true" >Choose</v-btn> -->
                            <p align="right">
                            <button @click="getPatient(patient.id, patient.name)" class="button1" right="true">Choose</button></p>
                        </b-card></b-col></b-row></b-container>
                    </div>
                    <p></p><p></p>
            <label for="chooseDoctor"><h6><b>Choose a Doctor: </b></h6></label>
                <div v-for="doctor in doctors" v-bind:key="'doctor'+doctor.id">
                <b-container><b-row align-h="center"><b-col cols="10"><b-card class="gray">
                        <b class="title">Name:</b> {{doctor.name}}<p></p>
                        <b class="title">Specialty:</b> {{doctor.specialty}}<p></p>
                        <b class="title">Health Plan:</b>  {{doctor.healthPlan}}
                        <p align="right">
                            <button @click="getDoctor(doctor.id, doctor.name)" class="button1" right="true">Choose</button></p>
                </b-card></b-col></b-row></b-container>
            </div> <p></p><p></p>

            <div class="form-group">
            <label for="day"><h6><b>Day</b></h6></label>
            <select v-model= "consultDate" class="form-control" id="date">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>
                <option value=21>21</option>
                <option value=22>22</option>
                <option value=23>23</option>
                <option value=24>24</option>
                <option value=25>25</option>
                <option value=26>26</option>
                <option value=27>27</option>
                <option value=28>28</option>
                <option value=29>29</option>
                <option value=30>30</option>
                <option value=31>31</option>
            </select>
        </div>

            <div class="form-group">
            <label for="hour"><h6><b>Hour</b></h6></label>
            <select class="form-control" v-model= "consultHour" id="hour">
                <option value=600>6:00</option>
                <option value=630>6:30</option>
                <option value=700>7:00</option>
                <option value=730>7:30</option>
                <option value=800>8:00</option>
                <option value=830>8:30</option>
                <option value=900>9:00</option>
                <option value=930>9:30</option>
                <option value=1000>10:00</option>
                <option value=1030>10:30</option>
                <option value=1100>11:00</option>
                <option value=1130>11:30</option>
                <option value=1200>12:00</option>
                <option value=1230>12:30</option>
                <option value=1300>13:00</option>
                <option value=1330>13:30</option>
                <option value=1400>14:00</option>
                <option value=1430>14:30</option>
                <option value=1500>15:00</option>
                <option value=1530>15:30</option>
                <option value=1600>16:00</option>
                <option value=1630>16:30</option>
                <option value=1700>17:00</option>
                <option value=1730>17:30</option>
                <option value=1800>18:00</option>
                <option value=1830>18:30</option>
                <option value=1900>19:00</option>
                <option value=1930>19:30</option>
                <option value=2000>20:00</option>
                <option value=2030>20:30</option>
                <option value=2100>21:00</option>
                <option value=2130>21:30</option>
            </select>
            
        </div>
        <button @click="createRequest()" class="button1" right="true">Choose</button></p>

        
                <!-- <button type="dark" class="button" @click= "getPatients" >Search Patient</button> -->

    </b-card></b-col></b-row></b-container>
</div>

</template>

<script src="./makeAppointment.js">
</script>

<style>
    body {
        background: #EDEDED
    }
    .nav-background{
        background: #07848a
        /* background: #FF9FC8; */
    }

    button {
        background: #EDEDED;
        color: #07848a
    }

    button1 {
        background: #EDEDED;
        color: #07848a
    }

    html, body, template {
    background: #EDEDED;
    height: 100%;
    }

    #app{
        background: #EDEDED
    }

    h6 {
        font-family: 'Proza Libre', sans-serif;
        color: #07848a;
        font-weight: 300;
    }
</style>